<% provide(:title, "Home") %>

<div class="center jumbotron" id="home_body">

  <h1 style="color: #fff">Welcome to Digitech's Apple shop</h1>
  <h2>In order to purchase items you need to sign up or log in if you already have an account.</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-default" %>
  <br>
  <hr class="line-separator">
  <h3 class="lead" style="color:#ffffff"><strong> Browse products </strong></h3>

  <div class="row">
	  <div class="col-sm-6 col-md-4">
	  	<%= link_to iphones_path do %>
		    <div class="thumbnail thumbnail-border-iphone">
		      <%= image_tag("iphone7.jpg", alt: "iPhone")%>
		      <div class="caption">
		        <h3>iPhone</h3>
		      </div>
		    </div>
	    <% end %>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail thumbnail-border-mac">
	    	<%= link_to macs_path do %>
	    	  <%= image_tag("macbook.jpg", alt: "Macbook")%>
		      <div class="caption">
		        <h3>Mac</h3>
		      </div>
	    	<% end %>
	    </div>
	  </div>

	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail thumbnail-border-watch">
	    	<%= link_to watches_path do %>
	    	  <%= image_tag("watch2.jpg", alt: "Watch")%>
		      <div class="caption">
		        <h3>Watch</h3>
		      </div>
	    	<% end %>
	    </div>
	  </div>
  </div>
</div>
