<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%= @user.name %></h3>
    <p>
      Thank you for your purchase of the following product:
    </p>
    <p>Product type: <%= @order.product_type %></p>
    
    <% if @order.product_type.include? "iphone" %>
      <p>Product size: <%= @order.product_size %> GB</p>
    <% elsif @order.product_type.include? "mac" %>
      <p>Product size: <%= @order.product_size %> inch</p>
    <% end %>
    
    <p>Product color: <%= @order.product_color %></p>
    <p>Price: $<%= @order.amount %></p>
    <br>
    <%= link_to "Click here", @url_read_more %> to read more about iTunes Gift Cards <br>
    <%= link_to "Click here", @url_complete_payment %> to complete payment
  </body>
</html>