<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%= @user.name %></h3>
    <p>
      Thank you for your purchase of the following product:
    </p>
    <p>Product type: <%= @order.product_type %></p>
    <p>Product size: <%= @order.product_size %> GB</p>
    <p>Product color: <%= @order.product_color %></p>
    <p>Price: <%= @order.amount %></p>
    <% if !@order.promocode.nil? %>
      <p>Promocode used: <%= @order.promocode %></p>
    <% end %>
    <% if !@order.gift_card.nil? %>
      <p>iTunes gift card codes used: <%= @order.gift_card %></p>
    <% end %>
    <br>
  </body>
</html>