<% provide(:title, "Mac Products") %>

<div class="center jumbotron">
  <div class="row">
    <div class="col-xs-6 col-md-6">
        <%= image_tag("macbook.jpg", alt: "Macbook image")%>
        <p> It’s faster and more powerful than before, yet remarkably thinner and lighter. It has the brightest, most colorful Mac notebook display ever. And it introduces the Touch Bar — a Multi-Touch enabled strip of glass built into the keyboard for instant access to the tools you want, right when you want them. The new MacBook Pro is built on groundbreaking ideas. And it’s ready for yours. </p>
     </div>

     <div class="col-xs-6 col-md-4">
        <%= render :partial => 'macs/orderform_mac', :object => @order %>
     </div>
  </div> 
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @mac.mac_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @mac.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @mac.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mac.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mac.price %>
</p>

<%= link_to 'Edit', edit_mac_path(@mac) %> |
<%= link_to 'Back', macs_path %>


