<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p id="notice"><%= notice %></p>
<p class="center">
  <strong>Email:</strong>
  <%= @user.email %> &nbsp; &nbsp;
  <%= link_to 'Edit', edit_user_path(@user) %> 
</p>

<p class="center" id="signup_link"> <strong> <%= link_to 'Browse products', home_path %> </strong> </p>


