<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_email %>
    <%= f.text_field :user_email %>
  </div>

  <div class="field">
    <%= f.label :product_type %>
    <%= f.text_field :product_type %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :promocode %>
    <%= f.text_field :promocode %>
  </div>

  <div class="field">
    <%= f.label :gift_card %>
    <%= f.check_box :gift_card %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
