<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_email, :value => current_user.email %>
  </div>

  <div class="form-group">
    <%= f.label(:product_type, "Select product type") %>
    <%= f.radio_button(:product_type, "iPhone 7") %> 
    <%= f.label(:product_type_iphone_7, "iPhone 7") %>
    <%= f.radio_button(:product_type, "iPhone 7 Plus") %>
    <%= f.label(:product_type_iphone_7_plus, "iPhone 7 Plus") %>
  </div>

  <div class="form-group">
    <%  %>
    <%= f.label :amount %>
    <%= f.hidden_field :amount, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :product_color %>
    <% @iphone = Iphone.all %>
    <% options = options_from_collection_for_select(@iphone, 'id', 'color') %>
    <%= f.select :all_val, options %>
  </div>

  <div class="form-group">
    <%= f.label :promocode %>
    <%= f.text_field :promocode, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gift_card %>
    <%= f.check_box :gift_card %>
  </div>

  <div class="actions">
    <%= f.submit "Place order", class: "btn btn-primary" %>
  </div>
<% end %>