<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_email, :value => current_user.email %>
  </div>

<!--
  <div class="form-group">
    <%= f.label(:product_type, "Select product type") %>
    <%= f.radio_button(:product_type, "iPhone 7") %> 
    <%= f.label(:product_type_iphone_7, "iPhone 7") %>
    <%= f.radio_button(:product_type, "iPhone 7 Plus") %>
    <%= f.label(:product_type_iphone_7_plus, "iPhone 7 Plus") %>
  </div>
-->
  <div class="form-group">
    <%= f.label :product_type %>
    <%= f.collection_select :product_type, Iphone.where(phone_type: '7'), :model, :model, {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :product_size %>
    <%= f.collection_select :product_size, Iphone.where(phone_type: '7'), :size, :size, {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :product_color %>
    <%= f.collection_select :product_color, Iphone.where(phone_type: '7'), :color, :color, {prompt: true}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :promocode %>
    <%= f.text_field :promocode, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :gift_card %>
    <%= f.check_box :gift_card, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="form-group">
    <%= f.label :iphone_id %>
    <%= f.select :iphone_id, options_for_select(Iphone.where(phone_type: '7').where(model: 'plus').map{|i| i.id}) %>
  </div>

  <div class="actions">
    <%= f.submit "Place order", class: "btn btn-primary" %>
  </div>
<% end %>