<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>User email</th>
      <th>Product type</th>
      <th>Product size</th>
      <th>Product color</th>
      <th>Amount</th>
      <th>Promocode</th>
      <th>Gift card</th>
      <th>Iphone ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user_email %></td>
        <td><%= order.product_type %></td>
        <td><%= order.product_size %></td>
        <td><%= order.product_color %></td>
        <td><%= order.amount %></td>
        <td><%= order.promocode %></td>
        <td><%= order.gift_card %></td>
        <td><%= order.iphone_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
