<% provide(:title, "Watch Products") %>

<div class="center jumbotron">
  <div class="row">
    <div class="col-xs-6 col-md-6">
        <%= image_tag("watch2.jpg", alt: "Apple watch")%>
        <p> <%= @watch.description %> </p>
     </div>

     <div class="col-xs-6 col-md-4">
        <%= render :partial => 'watches/orderform_watch', :object => @order %>
     </div>
  </div> 
</div>





<p id="notice"><%= notice %></p>

<p>
  <strong>Watch type:</strong>
  <%= @watch.watch_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @watch.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= @watch.color %>
</p>

<p>
  <strong>Price:</strong>
  <%= @watch.price %>
</p>

<%= link_to 'Edit', edit_watch_path(@watch) %> |
<%= link_to 'Back', watches_path %>
