<% provide(:title, "Iphone Products") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Phone Type:</strong>
  <%= @iphone.phone_type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @iphone.model %>
</p>

<p>
  <strong>Size:</strong>
  <%= @iphone.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @iphone.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @iphone.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @iphone.price %>
</p>

<%= link_to 'Edit', edit_iphone_path(@iphone) %> |
<%= link_to 'Back', iphones_path %>
